<div class="row">
  <div class="col-md-4">
    <h3>Select files</h3>
    <div
      appNgDropFiles
      [files]="files"
      (mouseOn)="isOnElement = $event"
      [ngClass]="{ 'file-over': isOnElement }"
      class="well drop-zone"
    >
      <h4>Drop files here</h4>
      <img src="assets/drop-images.png" alt="drop-images" />
    </div>
  </div>

  <div class="col-md-8">
    <h4>Upload files</h4>
    <button
      (click)="loadImages()"
      [disabled]="files.length === 0"
      class="btn btn-success btn-margin"
    >
      Upload to firebase
    </button>
    <button (click)="cleanFiles()" class="btn btn-danger">Clean up</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Progress</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.nameFile }}</td>
          <td>{{ file.file.size / 1024 / 1024 | number: ".2-2" }} MG</td>
          <td>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: file.progress + '%' }"
              ></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
